mbaimpactafactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nome do Data Factory",
			"defaultValue": "mbaimpactafactory"
		},
		"mbaimpactapipeline_accessToken": {
			"type": "secureString",
			"metadata": "Cadeia de caracteres segura para 'accessToken' de 'mbaimpactapipeline'"
		},
		"mbaimpactapipeline_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1002-142800-93uatwkc"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/building-ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "bronze-ingestion",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/2404135@alunoimpacta.com.br/pipeline-databricks-azure/notebooks/Transformation - landing to bronze"
						},
						"linkedServiceName": {
							"referenceName": "mbaimpactapipeline",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "silver-ingestion",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "bronze-ingestion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/2404135@alunoimpacta.com.br/pipeline-databricks-azure/notebooks/Transformation - bronze to silver"
						},
						"linkedServiceName": {
							"referenceName": "mbaimpactapipeline",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/mbaimpactapipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/mbaimpactapipeline')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-74482224582654.14.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('mbaimpactapipeline_accessToken')]"
					},
					"existingClusterId": "[parameters('mbaimpactapipeline_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger-building-pipeline')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "building-ingestion",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2024-10-02T15:50:00",
						"timeZone": "E. South America Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/building-ingestion')]"
			]
		}
	]
}